body {
    width: 100%;
    height: 100%;
}

.nav {
    font-family: Monospace;
    display: grid;
    grid-area: nav;
    justify-items: right;
    padding: 45% 0% 0% 20%;
    grid-template-areas:
    "l i m i2 n a l2";
}
.ltr {
    font-size: 3em;
}

.one {
    grid-area: l;
}

.two {
    grid-area: i;
}

.three {
    grid-area: m;
    
}

.four {
    grid-area: i2;
}

.five {
    grid-area: n;
}

.six {
    grid-area: a;
}

.seven {
    grid-area: l2;
}


.content {
    grid-area: content;
    font-family: Monospace;
    font-size: 1.5em;
}

.main {
    display: grid;
    grid-gap: 30px;
    grid-template-rows: 3fr 1fr auto;
    grid-template-areas:
        "nav"
	"...."
	"content";
}

iframe {
    border: none;
    display: block;
}

@media screen and (max-width: 500px){
    .ltr {
	font-size: 1.5em;
    }
    .nav {
	padding: 20px 20px 20px 50px;
    }
}

@media screen and (max-width: 1920px){
    .nav {
	justify-items: center;
    }
}
